body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
}

.Toastify__toast {;
  width: fit-content !important;
}
